[Desktop Entry]
Name=World3 Empirical
Comment=Compare observed global data with BAU, BAU2 and BAU Hybrid 2026
Comment[ro]=Compară observațiile globale cu BAU, BAU2 și BAU Hibrid 2026
Exec=io.github.laurentiustaicu.World3Empirical
Icon=io.github.laurentiustaicu.World3Empirical
Terminal=false
Type=Application
Categories=Education;Science;
Keywords=World3;BAU2;empirical data;system dynamics;Limits to Growth;
Keywords[ro]=World3;BAU2;date empirice;dinamică de sistem;Limits to Growth;
StartupNotify=true
